.home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    height: 500px;
    width: 60%;
    flex-direction: column;
}

.home-container h1 {
    color: #031845;
}

.home-container p {
    color: #031845;
}

.buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.buttons-container button {
    padding: 30px;
    background-color: #061945;
    width: 100px;
}
